// See /variables/_sizes.scss for default grid variables

#main {  
  margin: 0;
  width: 100%;
  @include flexible-layout;
  @include clearfix;
  padding: 2.5% 5%;
  background: white;

  
  @media screen and (min-width: $medium) {
    margin: 2em auto 0 auto;
  }
  
  @media screen and (min-width: $large) {
    width: 960px;
    
  }
}