$display: "proxima-nova", Helvetica, Arial, Tahoma, sans-serif;
$serif: "chaparral-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
$sans-serif: "proxima-nova", Helvetica, Arial, Tahoma, sans-serif;