///////////////////
// Grid Settings //
///////////////////

$gutter: 1.5em; // 30px
$max-width: 34.5em; // 690px


/////////////////
// Media Sizes //
/////////////////

$small: 20em;
$medium: 740px; // 750px
$large: 940px;
$huge: 70em;
$nav-collapse: 50em;
