// See /variables/_sizes.scss for default grid variables

#main {
  float: left;
  width: 100%;
  padding: $gutter;
  margin: 0;
  @media screen and (min-width: $medium) {
    padding: $gutter * 2;
    margin: 0;
  }
  @media screen and (min-width: $large) {
    width: 960px;
    padding: $gutter * 2 0;
  }
 }