.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1em;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}


#header {
  @include clearfix;

  h1 {
    font-family: $serif;
    border-top: 3px solid $gray-light;
    border-bottom: 3px solid $gray-light;
  }
  
  span:nth-child(2) {
    color: $red;
    padding-left: 10px;
  }
  
  span:nth-child(3) {
  	color: $red;
  	font-size: .75em;
  }
  
  .biopic {
    border: 3px solid $gray-light;
    margin: 0 auto;
  }
  
  
  #topContacts, #skills {

    @media screen and (max-width: $mobile+1) {
      display: block;
    }
    

  }
  
  .welcome-message {
  
    font-style: italic;
    color: white !important;
    display: block;
    padding: 1em;
    background: $red;
    @include ribbon(darken(red, 30%), 1em, 0);
    width: 100%;
    margin-left: -5%;


  }
    
}