
@media screen and (min-width: $mobile) {
	.flex-box {
	  @include flexible-layout;
	  flex-direction: row;
	  justify-content: space-around;
	  padding: 0 1em;
	}
	
	ul {
  		list-style-type: none;
	}
}

#header {
  @include clearfix;

  h1 {
    font-family: $serif;
  }
 
  .biopic {
    padding-left: $margin-right;
    width: 100%;
    height: auto;
    display: block;
   /* @include circle-photo(110); */


    
    @media screen and (min-width: $mobile) {
      width: 26.9607843%;
      float: left;
    }
  }
  
  #skillsBox {
    display: block;
    
    @media screen and (min-width: $mobile) {
	  float: right;
	  width: 73.0392157%;
	  @include clearfix;
	  
	  #skillsH3 {
	    padding-left: 1.6778523%;
	  } 
	}
	
 
  }
  
  .welcome-message {
  
    .ribbon-wrap {
        font-size: .85em;
	    font-style: italic;
	    color: white !important;
	    padding: 1em;
	    background: $gray-dark;
	    width: 100%; 
    }
      
    @media screen and (min-width: $medium) {
      @include ribbon(darken($gray-dark, 30%), 1em, 1em);
      margin-left: -2.333333%;
    }

  }
    
}